NODE_ENV=development
PORT=4000
DATABASE_URL=postgresql://document_editor_83yf_user:rpuRcMkerNOgZ5NuDdwDsD0DVNRrJGH1@dpg-d7efb7naqgkc73864h6g-a/document_editor_83yf
PGHOST=dpg-d7efb7naqgkc73864h6g-a
PGPORT=5432
PGUSER=document_editor_83yf_user
PGPASSWORD=rpuRcMkerNOgZ5NuDdwDsD0DVNRrJGH1
PGDATABASE=document_editor_83yf
JWT_ACCESS_SECRET=replace_with_access_secret
JWT_REFRESH_SECRET=replace_with_refresh_secret
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
CORS_ORIGIN=http://localhost:3000
